streamlit==1.45.1

numpy==1.26.4
opencv-python-headless==4.10.0.84

torch==2.4.1
torchvision==0.19.1
onnxruntime==1.18.1

pillow
scipy
matplotlib
grad-cam

duckduckgo_search==8.0.2
python-weather==2.1.0
